# 04 Data Exploration

Here we will first be looking at some descriptive statistics.

In [1]:
# >>> Import Libraries

print("Importing necessary libraries... ")

import pandas as pd

print("Libraries imported.")

Importing necessary libraries...
Libraries imported.

In [2]:
# >>> Import COMPAS data set

print("Importing COMPAS data set for gender... ")

df_race = pd.read_csv("data/compas_ethnicity_predictions.csv")

print("Data set imported. It is has {} entries and looks like this:".format(df_race.shape[0]))
df_race.head()

Importing COMPAS data set for gender...
Data set imported. It is has 7214 entries and looks like this:

,Unnamed: 0,entity_id,first,last,race,race_pred,sex,score,label_value
0,0,1,miguel,hernandez,Other,Hispanic,Male,0.975499,0
1,1,3,kevon,dixon,African-American,African-American,Male,0.857965,1
2,2,4,ed,philo,African-American,Asian,Male,0.611053,0
3,3,5,marcu,brown,African-American,African-American,Male,0.764072,1
4,4,6,bouthy,pierrelouis,Other,African-American,Male,0.800832,0

In [3]:
print("Importing COMPAS data set for ethnicity... ")

df_sex = pd.read_csv("data/compas_gender_predictions.csv")

print("Data set imported. It is has {} entries and looks like this:".format(df_sex.shape[0]))
df_sex.head()

Importing COMPAS data set for ethnicity...
Data set imported. It is has 7214 entries and looks like this:

,Unnamed: 0,entity_id,first,last,sex,sex_pred,race,score,label_value
0,0,1,miguel,hernandez,Male,Male,Other,0.999286,1
1,1,3,kevon,dixon,Male,Male,African-American,0.956720,1
2,2,4,ed,philo,Male,Male,African-American,0.968813,1
3,3,5,marcu,brown,Male,Male,African-American,0.622665,1
4,4,6,bouthy,pierrelouis,Male,Male,Other,0.509131,1

In [4]:
# >>> Looking at some descriptive statistics

In [5]:
df_sex.groupby(['sex']).describe()

       Unnamed: 0                                                         \
            count         mean          std  min     25%     50%     75%
sex
Female     1395.0  3689.866667  2105.761764  8.0  1787.5  3787.0  5526.5
Male       5819.0  3586.514350  2076.752291  0.0  1804.5  3556.0  5380.5

               entity_id               ...     score      label_value  \
           max     count         mean  ...       75%  max       count
sex                                    ...
Female  7213.0    1395.0  5628.490323  ...  0.996878  1.0      1395.0
Male    7211.0    5819.0  5470.753566  ...  0.995107  1.0      5819.0


            mean       std  min  25%  50%  75%  max
sex
Female  0.924014  0.265070  0.0  1.0  1.0  1.0  1.0
Male    0.940540  0.236505  0.0  1.0  1.0  1.0  1.0

[2 rows x 32 columns]

In [6]:
df_sex.groupby(['race']).describe()

                 Unnamed: 0                                                    \
                      count         mean          std    min      25%     50%
race
African-American     3696.0  3621.906926  2074.960970    1.0  1841.00  3611.5
Asian                  32.0  3783.218750  2100.191846  483.0  1746.50  4174.0
Caucasian            2454.0  3598.048900  2075.739007    6.0  1820.75  3625.5
Hispanic              637.0  3617.563579  2124.583159   16.0  1703.00  3632.0
Native American        18.0  2870.777778  2016.344991  460.0  1255.50  2042.5
Other                 377.0  3511.899204  2136.296744    0.0  1616.00  3443.0

                                  entity_id               ...     score  \
                      75%     max     count         mean  ...       75%
race                                                      ...
African-American  5406.25  7212.0    3696.0  5524.856872  ...  0.993934
Asian             5436.25  7123.0      32.0  5770.093750  ...  0.980467
Caucasian         5381.25  7206.0    2454.0  5488.236349  ...  0.998457
Hispanic          5532.00  7213.0     637.0  5518.141287  ...  0.999482
Native American   4371.25  6871.0      18.0  4379.388889  ...  0.994953
Other             5431.00  7211.0     377.0  5356.838196  ...  0.993770

                           label_value                                     \
                       max       count      mean       std  min  25%  50%
race
African-American  1.000000      3696.0  0.920996  0.269782  0.0  1.0  1.0
Asian             0.994907        32.0  0.937500  0.245935  0.0  1.0  1.0
Caucasian         1.000000      2454.0  0.959250  0.197750  0.0  1.0  1.0
Hispanic          1.000000       637.0  0.973312  0.161295  0.0  1.0  1.0
Native American   0.999907        18.0  0.888889  0.323381  0.0  1.0  1.0
Other             1.000000       377.0  0.896552  0.304948  0.0  1.0  1.0


                  75%  max
race
African-American  1.0  1.0
Asian             1.0  1.0
Caucasian         1.0  1.0
Hispanic          1.0  1.0
Native American   1.0  1.0
Other             1.0  1.0

[6 rows x 32 columns]

In [7]:
df_race.groupby(['sex']).describe()

       Unnamed: 0                                                         \
            count         mean          std  min     25%     50%     75%
sex
Female     1395.0  3689.866667  2105.761764  8.0  1787.5  3787.0  5526.5
Male       5819.0  3586.514350  2076.752291  0.0  1804.5  3556.0  5380.5

               entity_id               ...     score           label_value  \
           max     count         mean  ...       75%       max       count
sex                                    ...
Female  7213.0    1395.0  5628.490323  ...  0.862869  0.975499      1395.0
Male    7211.0    5819.0  5470.753566  ...  0.868697  0.975499      5819.0


            mean       std  min  25%  50%  75%  max
sex
Female  0.670251  0.470291  0.0  0.0  1.0  1.0  1.0
Male    0.671765  0.469611  0.0  0.0  1.0  1.0  1.0

[2 rows x 32 columns]

In [8]:
df_race.groupby(['race']).describe()

                 Unnamed: 0                                                    \
                      count         mean          std    min      25%     50%
race
African-American     3696.0  3621.906926  2074.960970    1.0  1841.00  3611.5
Asian                  32.0  3783.218750  2100.191846  483.0  1746.50  4174.0
Caucasian            2454.0  3598.048900  2075.739007    6.0  1820.75  3625.5
Hispanic              637.0  3617.563579  2124.583159   16.0  1703.00  3632.0
Native American        18.0  2870.777778  2016.344991  460.0  1255.50  2042.5
Other                 377.0  3511.899204  2136.296744    0.0  1616.00  3443.0

                                  entity_id               ...     score  \
                      75%     max     count         mean  ...       75%
race                                                      ...
African-American  5406.25  7212.0    3696.0  5524.856872  ...  0.831147
Asian             5436.25  7123.0      32.0  5770.093750  ...  0.975499
Caucasian         5381.25  7206.0    2454.0  5488.236349  ...  0.867389
Hispanic          5532.00  7213.0     637.0  5518.141287  ...  0.975499
Native American   4371.25  6871.0      18.0  4379.388889  ...  0.705145
Other             5431.00  7211.0     377.0  5356.838196  ...  0.830842

                           label_value                                     \
                       max       count      mean       std  min  25%  50%
race
African-American  0.975499      3696.0  0.754870  0.430222  0.0  1.0  1.0
Asian             0.975499        32.0  0.812500  0.396558  0.0  1.0  1.0
Caucasian         0.975499      2454.0  0.585575  0.492723  0.0  0.0  1.0
Hispanic          0.975499       637.0  0.927786  0.259045  0.0  1.0  1.0
Native American   0.975499        18.0  0.000000  0.000000  0.0  0.0  0.0
Other             0.975499       377.0  0.000000  0.000000  0.0  0.0  0.0


                  75%  max
race
African-American  1.0  1.0
Asian             1.0  1.0
Caucasian         1.0  1.0
Hispanic          1.0  1.0
Native American   0.0  0.0
Other             0.0  0.0

[6 rows x 32 columns]

In [9]:
df_race.groupby(["sex", "race"]).describe()

                        Unnamed: 0                                             \
                             count         mean          std     min      25%
sex    race
Female African-American      652.0  3707.825153  2075.993338    40.0  1930.75
       Asian                   2.0  4989.500000   603.162084  4563.0  4776.25
       Caucasian             567.0  3644.578483  2099.851158     8.0  1679.00
       Hispanic              103.0  3786.601942  2245.630150    53.0  1725.00
       Native American         4.0  2792.000000  2810.115656   460.0  1396.75
       Other                  67.0  3764.462687  2243.610566    51.0  2063.50
Male   African-American     3044.0  3603.503942  2074.618200     1.0  1824.25
       Asian                  30.0  3702.800000  2143.691071   483.0  1643.50
       Caucasian            1887.0  3584.067833  2068.795574     6.0  1856.00
       Hispanic              534.0  3584.958801  2101.071335    16.0  1687.00
       Native American        14.0  2893.285714  1868.644817   762.0  1255.50
       Other                 310.0  3457.312903  2112.183516     0.0  1597.75

                                                 entity_id               ...  \
                            50%      75%     max     count         mean  ...
sex    race                                                              ...
Female African-American  3769.5  5471.00  7212.0     652.0  5656.050613  ...
       Asian             4989.5  5202.75  5416.0       2.0  7615.500000  ...
       Caucasian         3754.0  5446.50  7194.0     567.0  5559.504409  ...
       Hispanic          3900.0  5875.50  7213.0     103.0  5775.126214  ...
       Native American   1918.5  3313.75  6871.0       4.0  4255.500000  ...
       Other             4090.0  5810.50  7127.0      67.0  5741.328358  ...
Male   African-American  3580.5  5383.25  7210.0    3044.0  5496.756242  ...
       Asian             4025.0  5470.00  7123.0      30.0  5647.066667  ...
       Caucasian         3549.0  5363.00  7206.0    1887.0  5466.821940  ...
       Hispanic          3525.0  5455.50  7203.0     534.0  5468.573034  ...
       Native American   2359.5  4371.25  6143.0      14.0  4414.785714  ...
       Other             3369.5  5308.25  7211.0     310.0  5273.738710  ...

                            score           label_value                      \
                              75%       max       count      mean       std
sex    race
Female African-American  0.857616  0.975499       652.0  0.838957  0.367853
       Asian             0.824540  0.870785         2.0  0.500000  0.707107
       Caucasian         0.844573  0.975499       567.0  0.522046  0.499955
       Hispanic          0.941187  0.975499       103.0  0.883495  0.322398
       Native American   0.875435  0.880653         4.0  0.000000  0.000000
       Other             0.762873  0.975499        67.0  0.000000  0.000000
Male   African-American  0.827676  0.975499      3044.0  0.736859  0.440410
       Asian             0.975499  0.975499        30.0  0.833333  0.379049
       Caucasian         0.874646  0.975499      1887.0  0.604663  0.489052
       Hispanic          0.975499  0.975499       534.0  0.936330  0.244394
       Native American   0.698279  0.975499        14.0  0.000000  0.000000
       Other             0.848583  0.975499       310.0  0.000000  0.000000


                         min   25%  50%   75%  max
sex    race
Female African-American  0.0  1.00  1.0  1.00  1.0
       Asian             0.0  0.25  0.5  0.75  1.0
       Caucasian         0.0  0.00  1.0  1.00  1.0
       Hispanic          0.0  1.00  1.0  1.00  1.0
       Native American   0.0  0.00  0.0  0.00  0.0
       Other             0.0  0.00  0.0  0.00  0.0
Male   African-American  0.0  0.00  1.0  1.00  1.0
       Asian             0.0  1.00  1.0  1.00  1.0
       Caucasian         0.0  0.00  1.0  1.00  1.0
       Hispanic          0.0  1.00  1.0  1.00  1.0
       Native American   0.0  0.00  0.0  0.00  0.0
       Other             0.0  0.00  0.0  0.00  0.0

[12 rows x 32 columns]

In [10]:
df_sex.groupby(["sex", "race"]).describe()

                        Unnamed: 0                                             \
                             count         mean          std     min      25%
sex    race
Female African-American      652.0  3707.825153  2075.993338    40.0  1930.75
       Asian                   2.0  4989.500000   603.162084  4563.0  4776.25
       Caucasian             567.0  3644.578483  2099.851158     8.0  1679.00
       Hispanic              103.0  3786.601942  2245.630150    53.0  1725.00
       Native American         4.0  2792.000000  2810.115656   460.0  1396.75
       Other                  67.0  3764.462687  2243.610566    51.0  2063.50
Male   African-American     3044.0  3603.503942  2074.618200     1.0  1824.25
       Asian                  30.0  3702.800000  2143.691071   483.0  1643.50
       Caucasian            1887.0  3584.067833  2068.795574     6.0  1856.00
       Hispanic              534.0  3584.958801  2101.071335    16.0  1687.00
       Native American        14.0  2893.285714  1868.644817   762.0  1255.50
       Other                 310.0  3457.312903  2112.183516     0.0  1597.75

                                                 entity_id               ...  \
                            50%      75%     max     count         mean  ...
sex    race                                                              ...
Female African-American  3769.5  5471.00  7212.0     652.0  5656.050613  ...
       Asian             4989.5  5202.75  5416.0       2.0  7615.500000  ...
       Caucasian         3754.0  5446.50  7194.0     567.0  5559.504409  ...
       Hispanic          3900.0  5875.50  7213.0     103.0  5775.126214  ...
       Native American   1918.5  3313.75  6871.0       4.0  4255.500000  ...
       Other             4090.0  5810.50  7127.0      67.0  5741.328358  ...
Male   African-American  3580.5  5383.25  7210.0    3044.0  5496.756242  ...
       Asian             4025.0  5470.00  7123.0      30.0  5647.066667  ...
       Caucasian         3549.0  5363.00  7206.0    1887.0  5466.821940  ...
       Hispanic          3525.0  5455.50  7203.0     534.0  5468.573034  ...
       Native American   2359.5  4371.25  6143.0      14.0  4414.785714  ...
       Other             3369.5  5308.25  7211.0     310.0  5273.738710  ...

                            score           label_value                      \
                              75%       max       count      mean       std
sex    race
Female African-American  0.994535  1.000000       652.0  0.901840  0.297759
       Asian             0.993180  0.994907         2.0  1.000000  0.000000
       Caucasian         0.999167  1.000000       567.0  0.940035  0.237631
       Hispanic          0.999896  1.000000       103.0  0.990291  0.098533
       Native American   0.988104  0.993196         4.0  0.750000  0.500000
       Other             0.994034  1.000000        67.0  0.910448  0.287694
Male   African-American  0.993614  1.000000      3044.0  0.925099  0.263276
       Asian             0.979859  0.991831        30.0  0.933333  0.253708
       Caucasian         0.998095  1.000000      1887.0  0.965024  0.183768
       Hispanic          0.999045  1.000000       534.0  0.970037  0.170644
       Native American   0.995070  0.999907        14.0  0.928571  0.267261
       Other             0.993253  1.000000       310.0  0.893548  0.308913


                         min   25%  50%  75%  max
sex    race
Female African-American  0.0  1.00  1.0  1.0  1.0
       Asian             1.0  1.00  1.0  1.0  1.0
       Caucasian         0.0  1.00  1.0  1.0  1.0
       Hispanic          0.0  1.00  1.0  1.0  1.0
       Native American   0.0  0.75  1.0  1.0  1.0
       Other             0.0  1.00  1.0  1.0  1.0
Male   African-American  0.0  1.00  1.0  1.0  1.0
       Asian             0.0  1.00  1.0  1.0  1.0
       Caucasian         0.0  1.00  1.0  1.0  1.0
       Hispanic          0.0  1.00  1.0  1.0  1.0
       Native American   0.0  1.00  1.0  1.0  1.0
       Other             0.0  1.00  1.0  1.0  1.0

[12 rows x 32 columns]